<h1>About this Project</h1>
 <h3>Gems, Libraries, Plug-Ins used</h3>
 <ul>
   <li>jQuery</li>
   <li>rSpec</li>
   <li>gon: for passing Ruby  variables to javascript</li>
   <li></li>
   <li>Google Fonts</li>
</ul>

<h3>Other Features</h3>
<ul>
   <li>User authentication</li>
   <li>Regular Expressions</li>
   <li>Responsive CSS design (optimized for tablets)</li>
   <li>Rails form helpers</li>
   <li>Nested resources</li>
   <li>JSON and Ajax</li>
   <li>Partials</li>
   <li>JQuery Delegates</li>
</ul>
