<h1>User Personal Show Page</h1>
<div class ="signupbox">
<p>Here's a list of your projects:<p>
<ol>
  <% @user_proj_list.each do |f| %>
<li><%= f.projtitle %></li> </br>
  <% end %>

<%= link_to "Create a new project", new_project_path %></br>
</div>