<h1>Project Dashboard</h1>
<%= link_to "Return to all Your Projects", user_user_projects_path(current_user.id) %>

<h3><%= @project.projtitle %></h3>

<div class = patternbox>
  <p><%= @project.pattern %></p>
  </div>