<!-- New Project Form Page -->

<ul class="nav nav-tabs">
  <li><a href="\users\<%=current_user.id%>\user_projects">Return to All Projects</a></li>
</ul>

<h1> Create a New Project</h1>

<%= render 'form' %>


