<h1> New Stitcherdoodle Project Form</h1>

<%= render 'form' %>

<div class = "parseInput">
  <p>Repeated instruction indicator (times, rep, repeat)</br>
    New Row/round indicator (row, round, rnd, rw,)</br>
</div>
