<h1>CrochetPA Project Show Page</h1>

<h3>Here is a summary of your newly created project: </h3>

<p>
  <strong>Project Title: </strong>
  <%= @project.projtitle %></br>

  <strong>Project Author: </strong>
  <%= @project.author %></br>

  <strong>Project Notes: </strong>
  <%= @project.notes %></br>

  <strong>Pattern File: </strong>
  <%= @project.patternFile_file_name %>
</p>

