/*
 *= require_self
 *= require_tree .
 */

 html,body {
  height: 100%;
  width: 95%;
}

 body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;
  color: initial;
  margin-left: 4.5%;
  margin-right: 2%;
 }

 h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
  color: initial;
 }


/*Carousel*/
.carousel-inner h1 {
  color: gold;
  font-size: 60px;
}

/*Forms*/

#email {
  font-size: 24px;
}
/*Nav bar*/
.navbar-default .navbar-brand {
  color: gold;
  font-size: 36px ;
}

.navbar-default .navbar-nav>li>a> {
  color:darkgrey;
}

/*Tables*/
.dl-horizontal dt {
  white-space: normal;
  width: 250px;
  text-align: left;
}

.patterntable, .projlistbox {
  max-height: 350px;
  overflow: scroll;
  border: solid gray;
}

li {
  background: lightgrey;
}

li:nth-child(odd) {
  background: white;
}

li:hover {
  background: skyblue;
  cursor: pointer;
}

/*Anchors*/
a {
  font-family: 'Bitter', serif;
  color: #483D8B;
}

/*Buttons*/
.btn {
  font-family: 'Bitter', serif;
}

.btn-danger, .btn-danger:active, .btn-danger:focus:active, .btn-danger:focus,.open .dropdown-toggle.btn-danger {
  background-color: darkslateblue;
  border-color: darkslateblue;
}

.btn-danger:hover {
  color: #fff;
  background-color: #DAA520;
  border-color: #DAA520;
}

#upcount, #downcount {
  margin-bottom: 40px;
}

#savePlace {
  margin-top: 40px;
}

/*Row counter numbers*/
.rowcounter {
  /*font-size: 32px;*/
  text-align: center;
  display: block;
  width: 100%;
  height: 80px;
  padding: 6px 12px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bigfont {
  font-size: 44px;
}
