/*
 *= require_self
 *= require_tree .
 */

 html,body {
  height: 100%;
  width: 95%;
}

 body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;
  color: initial;
  margin-left: 4.5%;
  margin-right: 2%;
 }

 h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
  color: initial;
 }

/*Splash page jumbotron */
.jumbotron, #bs-example-navbar-collapse-1  {
  background-image: url('cropurp3.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

.jumbotron h1, p {
  color: gold;
}

/*Nav bar*/
.navbar-default .navbar-brand {
  color: gold;
  font-size: 36px ;
}

.navbar-default .navbar-nav>li>a {
  color: gold;
}

/*Tables*/
.dl-horizontal dt {
  white-space: normal;
  width: 250px;
  text-align: left;
}

.patterntable {
  max-height: 250px;
  overflow: scroll;
  border: solid gray;
}

li {
  background: lightgrey;
}

li:nth-child(odd) {
  background: white;
}

li:hover {
  background: skyblue;
  cursor: pointer;
}

/*Buttons*/
a, .btn {
  font-family: 'Bitter', serif;
}

.btn-danger {
  background-color: darkslateblue;
  border-color: darkslateblue;
}
