/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body
{
    height: 100%;
    width: 100%;
}

 body {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  /*background-image: url('crochet1fade.jpg');*/
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center;
  color: initial;
 }

 h1 {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 60px;
  color: initial;
 }

h4 {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 36px;
  color: initial;
 }


input[type='submit'] {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  width: 45%;
  height: 4%;
}

.signupbox {
  background-color: ivory;
  opacity: 0.7;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  margin: 0.5em;
  width: 55%;
  padding: 1%;
  border-radius: 10px;
}
.patternbox {
  background-color: ivory;
  opacity: 0.7;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  margin: 0.5em;
  width: 50%;
  height: 50%;
  overflow: scroll;
  padding: 1%;
  border-radius: 10px;
}

/*.titlediv {
  background-color: ivory;
  opacity: 0.7;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  margin: 0.5em;
  width: 80%;
  padding: 1%;
  border-radius: 10px;
}*/
.field #email, #password {
  font-family: 'Raleway', sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-radius: 5px;
  margin: 0.5em;
  font-size: 24px;
  color: #333333;
  width: 90%;
  height: 40px;
}

#user_nav {
background-color: ivory;
text-align: center;
width: 10%;
float: right;
border-radius: 5px;
}
